

.actor-data{
    margin-top: 25px;
}

.card-movies {
    width: 100px;

    img{
        height: 160px;
        width: 100%;
    }
    
    .no-image{
        object-fit: cover;
    }
    
    .card-movies-title {
        padding: 5px 2px;
    }
}
