<ion-header>
  <ion-toolbar>
    <ion-slides mode="md" [options]="slideOptsGenres">
      <ion-slide *ngFor="let genre of genres">
        <ion-chip (click)="changeGenre(genre)" color="primary">
          <ion-label class="chip-genre">{{ genre.name }}</ion-label>
        </ion-chip>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
  <ion-toolbar>
    <ion-slides mode="md" [options]="slideOptsYears">
      <ion-slide *ngFor="let year of years">
        <ion-chip (click)="changeYear(year)" color="primary">
          <ion-label class="chip-year">{{ year }}</ion-label>
        </ion-chip>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" class="ion-text-center" color="secondary">
        <ion-text>
          Genero: {{this.genreName}}
        </ion-text>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-text>
          Año: {{this.year}}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed>
    <ion-row *ngFor="let movie of popularMovies">
      <ion-col>
        <ion-card (click)="searchDetails(movie.id)">
          <img [src]="movie.poster_path | image">
          <ion-card-content>
            <ion-card-title>{{ movie.title }}</ion-card-title>

            <ion-label>{{ movie.overview | slice: 0: hide }}...</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>