<ion-header>
  <ion-toolbar>
    <ion-slides mode="md" [options]="slideOptsGenres">
      <ion-slide *ngFor="let genre of genres">
        <ion-chip (click)="searchPopularMovies(genre.id)" color="primary">
          <ion-label class="chip-genre">{{ genre.name }}</ion-label>
        </ion-chip>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
  <ion-toolbar>
    <ion-slides mode="md" [options]="slideOptsYears">
      <ion-slide *ngFor="let year of years">
        <ion-chip (click)="searchPopularMovies('', year)" color="primary">
          <ion-label class="chip-year">{{ year }}</ion-label>
        </ion-chip>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row *ngFor="let movie of popularMovies">
      <ion-col>
        <ion-card (click)="searchDetails(movie.id)">
          <img [src]="movie.poster_path | image">
          <ion-card-content>
            <ion-card-title>{{ movie.title }}</ion-card-title>

            <ion-label>{{ movie.overview | slice: 0: hide }}...</ion-label>
            <!-- <ion-label color="primary" (click)="hide = 5000" *ngIf="hide !== 5000">Leer más!</ion-label> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- <ion-row *ngFor="let movie of popularMovies">

      <ion-col size="12" class="card">
        <ion-item>
          <ion-img class="poster" [src]="movie.poster_path | image"></ion-img>
          <ion-label>
            <h3>{{ movie.title }}</h3>
            <p>{{ movie.overview | slice: 0: hide }}...</p>
          </ion-label>
          <ion-label color="primary" (click)="hide = 5000" *ngIf="hide !== 5000">Leer más!</ion-label>
        </ion-item>
      </ion-col>
    </ion-row> -->



  </ion-grid>
</ion-content>