<ion-header>
  <ion-toolbar>
    <ion-slides mode="md" [options]="slideOptsGenres">
      <ion-slide *ngFor="let genre of genres">
        <ion-chip (click)="searchPopularMoviesByGenre(genre)" color="primary">
          <ion-label class="chip-genre">{{ genre.name }}</ion-label>
        </ion-chip>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
  <ion-toolbar>
    <ion-slides mode="md" [options]="slideOptsYears">
      <ion-slide *ngFor="let year of years">
        <ion-chip (click)="searchPopularMoviesByYear(year)" color="primary">
          <ion-label class="chip-year">{{ year }}</ion-label>
        </ion-chip>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" style="margin: auto;">
        {{this.genreName}}
      </ion-col>
      <ion-col size="6" class="ion-align-self-center">
        {{this.year}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed>
    <ion-row *ngFor="let movie of popularMovies">
      <ion-col>
        <ion-card (click)="searchDetails(movie.id)">
          <img [src]="movie.poster_path | image">
          <ion-card-content>
            <ion-card-title>{{ movie.title }}</ion-card-title>

            <ion-label>{{ movie.overview | slice: 0: hide }}...</ion-label>
            <!-- <ion-label color="primary" (click)="hide = 5000" *ngIf="hide !== 5000">Leer más!</ion-label> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>