<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Popular Movies</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slides-poster [movies]="popularMovies"></app-slides-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Popular TV Shows</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slides-poster [movies]="popularTVShows"></app-slides-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Soon Out of Netflix</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slides-poster [movies]="netflixMovies"></app-slides-poster>

</ion-content>