<ion-header>

  <!-- SEARCHBAR -->
  <ion-toolbar>
    <ion-searchbar mode='ios' placeholder="Buscar Pelicula, Serie, Actor/Actriz" (ionChange)="onSearch($event)"
      [debounce]="700"></ion-searchbar>
    <ion-icon slot="end" name="moon"></ion-icon>
    <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="changeDarkMode()"></ion-toggle>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid *ngIf="searching">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let result of results">
        <!-- IF THERE IS A PERSON -->
        <ng-container *ngIf="result.media_type === 'person'; else movieTvshow">
          <ion-card (click)="searchDetails(result.id, result.media_type )">
            <img class="no-image" *ngIf="!result.profile_path" src="/assets/no-avatar.jpg">
            <img *ngIf="result.profile_path" [src]="result.profile_path | image">
            <ion-card-header>
              <ion-card-subtitle> Persona </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <h2>{{ result.name }}</h2>
            </ion-card-content>
          </ion-card>
        </ng-container>

        <!-- IF THERE IS MOVIE OR TVSHOW -->
        <ng-template #movieTvshow>
          <ion-card (click)="searchDetails(result.id, result.media_type )">
            <img class="no-image" *ngIf="!result.poster_path" src="/assets/no-image-banner.jpg">
            <img [src]="result.poster_path | image">
            <ion-card-header>
              <ion-card-subtitle *ngIf="result.media_type === 'movie'"> Pelicula </ion-card-subtitle>
              <ion-card-subtitle *ngIf="result.media_type === 'tv'"> Serie </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <h2 *ngIf="result.media_type === 'movie'"> {{result.title}} </h2>
              <h2 *ngIf="result.media_type === 'tv'"> {{result.name}} </h2>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="results.length === 0">

    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <h3>Películas Populares</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <div *ngIf="popularMovies.length == 0">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let item of [0,0,0,0]">
          <ion-card class="poster">
            <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div> -->

    <app-slides-poster mediaType="movie" [movies]="popularMovies" (loadMore)="loadMore('popularMovies')">
    </app-slides-poster>

    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <h3>Series Populares</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <div *ngIf="popularTVShows.length == 0">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let item of [0,0,0,0]">
          <ion-card class="poster">
            <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div> -->

    <app-slides-poster mediaType="tvshow" [tvShows]="popularTVShows" (loadMore)="loadMore('popularTVShows')">
    </app-slides-poster>


    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <h3>Series de Netflix</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

    <app-slides-poster mediaType="tvshow" [tvShows]="netflixTVShows" (loadMore)="loadMore('popularNetflixTVShows')">
    </app-slides-poster>
  </div>

</ion-content>