<ion-header>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment" value="0">
      <ion-segment-button value="0">
        <ion-label>Para Ver</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>Favoritos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Vistos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-slides #slides pager="false" [options]="slidesOpts" (ionSlideDidChange)="slideChanged(slides)"
    (ionSlideDidLoad)="slideChanged(slides)">
    <ion-slide class="slide" *ngFor="let moviesSection of storageMovies; let i=index">
      <ion-text *ngIf="moviesSection.length==0" color="primary">
        <h1>No hay peliculas en esta categoria</h1>
      </ion-text>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="4" *ngFor="let movie of moviesSection" size-lg="2" size-md="3">
            <ion-card class="poster" mode="md" (click)="searchDetails( movie.id, 'movie' )">
              <img class="poster" [src]="movie.poster_path | image">
            </ion-card>
            <ion-fab-button *ngIf="i == 0" size="small" color="dark" (click)="seenMovie(movie)">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>