<ion-header>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="favorites">
      <ion-segment-button value="towatch">
        <ion-label>Para Ver</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label>Favoritos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="seen">
        <ion-label>Vistos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <span [ngSwitch]="typeListMovies">
    <div *ngSwitchCase="'towatch'">
      <ion-grid>
        <ion-row>
          <div *ngFor="let movie of watchListMovies">
            <ion-col size="4">
              <ion-card class="poster" mode="md" (click)="searchDetails( movie.id, 'movie' )">
                <img class="poster" [src]="movie.poster_path | image">
              </ion-card>
            </ion-col>
          </div>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'favorites'">
      <ion-grid>
        <ion-row>
          <div *ngFor="let movie of favoriteMovies">
            <ion-col size="4">
              <ion-card class="poster" mode="md" (click)="searchDetails( movie.id, 'movie' )">
                <img class="poster" [src]="movie.poster_path | image">
              </ion-card>
            </ion-col>
          </div>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'seen'">
      <ion-grid>
        <ion-row>
          <div *ngFor="let movie of seenMovies">
            <ion-col size="4">
              <ion-card class="poster" mode="md" (click)="searchDetails( movie.id, 'movie' )">
                <img class="poster" [src]="movie.poster_path | image">
              </ion-card>
            </ion-col>
          </div>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchDefault>
      <ion-grid>
        <ion-row>
          <div *ngFor="let movie of favoriteMovies">
            <ion-col size="4">
              <ion-card class="poster" (click)="searchDetails( movie.id, 'movie' )">
                <img class="poster" [src]="movie.poster_path | image">
              </ion-card>
            </ion-col>
          </div>
        </ion-row>
      </ion-grid>
    </div>
  </span>

</ion-content>