<div *ngIf="media === 'tvshow'; else movie">
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let tvShow of tvShows">
      <ion-card class="poster" (click)="searchDetails( tvShow.id, 'tv' )">
        <img class="poster" [src]="tvShow.poster_path | image">
      </ion-card>
    </ion-slide>
    <ion-slide class="ion-align-self-center">
      <ion-button expand="full" class="btn-mas" size="large" (click)="onClick()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>


</div>
<ng-template #movie>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let movie of movies">
      <ion-card class="poster" mode="md" (click)="searchDetails( movie.id, 'movie' )">
        <img class="poster" [src]="movie.poster_path | image">
      </ion-card>
    </ion-slide>
    <ion-slide class="ion-align-self-center">
      <ion-button expand="full" size="large" (click)="onClick()" shape="round">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ng-template>