<ion-slides *ngIf="billboard === null" [options]="slideOpts">
  <ion-slide *ngFor="let item of [0,0,0,0]">
    <ion-card class="poster">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-card>
  </ion-slide>
</ion-slides>

<ion-slides [options]="slideOpts">
  <ion-slide *ngFor="let item of billboard">
    <ion-card class="poster" mode="md" (click)="searchDetails( item.id )">
      <img class="poster" *ngIf="item.poster_path" [src]="item.poster_path | image">
      <ion-label class="no-image" *ngIf="!item.poster_path">{{ item.title }}</ion-label>
    </ion-card>
  </ion-slide>

</ion-slides>