<ion-label class="title">
  <h2> {{ movie.title }} ({{ year }}) </h2>
</ion-label>

<img class="backdrop-image" *ngIf="!movie.backdrop_path" src="/assets/no-image-banner.jpg">
<img class="backdrop-image" *ngIf="movie.backdrop_path" [src]="movie.backdrop_path | image">

<ion-grid>
  <ion-row>
    <ion-col size="4" class="poster-detail">
      <ion-card class="poster">
        <img [src]="movie.poster_path | image" class="poster" *ngIf="movie.poster_path">
        <ion-skeleton-text *ngIf="movie.poster_path == undefined" style="width: 120px; height: 200px; margin: 0;"
          animated></ion-skeleton-text>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-icon slot="start" name="thumbs-up" color="primary"></ion-icon>
        <ion-label>Rating</ion-label>
        <ion-note slot="end" color="primary">{{ movie.vote_average }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="people" color="primary"></ion-icon>
        <ion-label>Votos</ion-label>
        <ion-note slot="end" color="primary">{{ movie.vote_count }}</ion-note>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid fixed>
  <ion-row>
    <ion-col size=12>
      <ion-label>{{ movie.overview }}</ion-label>
      <ion-skeleton-text *ngIf="movie.poster_path == undefined" style="width: 100%; height: 150px;" animated>
      </ion-skeleton-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-chip *ngFor="let genre of movie.genres" color="primary">
        <ion-label>{{ genre.name }}</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-label>Disponible en:</ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-chip *ngFor="let provider of streamProviders | async" [ngStyle]="{'background-color': provider.color}">
        <ion-label>{{ provider.clear_name }} </ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid fixed>
  <ion-row>
    <ion-col>
      <ion-label>Casting</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-slides [options]="slideOptCasting">
  <ion-slide *ngFor="let actor of actors">
    <ion-card class="card-actor" (click)="searchDetails(actor.id, 'person')">
      <img *ngIf="!actor.profile_path" src="/assets/no-avatar.jpg">
      <img *ngIf="actor.profile_path" [src]="actor.profile_path | image">
      <ion-card-subtitle class="actor-name"> {{ actor.name }}</ion-card-subtitle>
      <ion-label *ngIf="animationGenre" class="actor-character"> {{ actor.character | voiceActor}}</ion-label>
    </ion-card>
  </ion-slide>
</ion-slides>

<ion-grid fixed>
  <ion-row>
    <ion-col>
      <div class='movieAcademyAwards' [innerHtml]='movieAcademyAwards'></div>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-footer no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="favorite()">
        <ion-label>Favorito</ion-label>
        <ion-icon slot="end" [name]="star"></ion-icon>
      </ion-button>
      <ion-button (click)="toWatch()">
        <ion-label>Para Ver</ion-label>
        <ion-icon slot="end" [name]="eye"></ion-icon>
      </ion-button>
      <ion-button (click)="seenMovie()">
        <ion-label>Visto</ion-label>
        <ion-icon slot="end" [name]="checkMark"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>